/*************
    Lobby
*************/

.Lobby {
    @include flex-position(center, center);
    height: 100%;
}

.chatrooms, .chatroom,
.details-container {
    display: flex;
}

.chatrooms {
    justify-content: center;
    flex-wrap: wrap;

    .chatroom {
        min-width: 400px;
        min-height: 125px;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        border: $border;
        padding: 20px 30px;
        margin: 20px;


        .details-container {
            flex-direction: column;
            line-height: 1.5;
            height: 125px;

            h3 {
                margin: 0;
                font-size: 22px;
                font-weight: 500;
                font-family: $secondary-font;
                font-size: 700;
            }

            h4:last-child {
                margin: 0;
                margin-top: auto;
                font-family: $secondary-font;
            }

            small {
                color: $HUSH_BLACK;
                padding-right: 10px;
                font-size: 20px;
                font-family: $primary-font;
            }
        }

        .join {
            @include margin(auto null null auto);
            border: $border;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
            padding: 10px;
            height: 17px;
            width: 100px;
            text-align: center;
            text-decoration: none;
            color: $HUSH_ORANGE;

            &:hover {
                border: $border-hover;
            }
        }
    }
}

.chatroom--locked {
    @extend .chatroom;

    background: #00000008;

    .join {
        cursor: default;
        pointer-events: none;
        border: none;
        box-shadow: none;
        color: $HUSH_BLACK !important;
    }
}

.chatrooms--none {

    .Lobby & {
        @include flex-position(center, center);
        height: 100%;
    }

    h1 {
        font-family: $secondary-font;
    }
}