/*************
    Room
*************/

.Room {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-name {
        width: 100%;
        color: $HUSH_BLACK;
    }
}

.chatbox {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    max-height: 500px;
    max-width: 800px;
    @include box(100%);
    border: solid 1px $white-swiss;
    border-radius: 10px;
    box-shadow: $box-shadow;
}

// Input Controller 
.input-controller {
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;

    input,
    button {
        box-sizing: border-box;
        height: 100%;
        font-size: 20px;
    }

    input {
        width: 80%;
        border: solid 1px $white-swiss;
    }

    button {
        color: $white;
        background: $HUSH_BLACK;
        font-family: $primary-font;
        width: 20%;
        border: none;
    }
}

// Video

.videos {
    width: 40%;
    margin-top: auto;

    .host,
    .guest {
        position: relative;

        h4 {
            @include position(absolute, null null 20px 20px);
            margin: 0;
            color: $HUSH_GREY;
        }

        img {
             width: 100%;
        }
    }

    .guest {
        h4 {
            color:$HUSH_ORANGE;
        }
    }
}

.chat {
    position: relative;
    border-right: solid 1px $white-swiss;
    width: 70%;

    .messages {
        height: 82%;
        padding: 20px;
        overflow-y: scroll;
        margin-bottom: 50px;

        ul {
            padding: 0;
            margin: 0;
        }

        .message-emit {
            li {
                color: $grey-alto;
                list-style-type: none;
                font-style: italic;
                margin: 5px 0;
            }
        }

        .message-host,
        .message-guest {

            h3 {
                width: 100%;
                margin: 5px 0;
                color: $HUSH_BLACK;
                font-size: 16px;
                font-weight: 400;
            }
            p {
                display:inline-block;
                max-width: 45%;
                border-radius: 6px;
                padding: 15px 40px;
                margin: 5px 0;
            }
        }

        .message-guest {
            margin: 20px 0 20px 20px;

            p {
                background: $HUSH_BLACK;
                color: $white;
            }
        }

        .message-host {
            margin: 20px 20px 20px 0;
            text-align: right;

            p {
                text-align: left;
                background: $white;
                color: $HUSH_BLACK;
                box-shadow: $box-shadow;
                border: solid 1px $white-swiss;
            }
        }
    }
}
