/*************
    Mixins
*************/

@mixin flex-position($horizontal: center, $vertical: center) {
  display: flex;
  align-items: $horizontal;
  justify-content: $vertical;
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin font($font-family, $font-weight, $font-size) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
}