/*************
  Variables
*************/

// Greyscale Variables
$black: black;
$black-modal: #1f1f1f66;
$grey-mine: #2d2d2d;
$grey-coal: #3D3D3D;
$grey-dove: #696969;
$grey: grey;
$grey-alto: #cfcfcf;
$white-alabaster: #f9f9f9;
$white-swiss: #E2DADA;
$white: white;

// Color Variables
$orange-jaffa: #e78b46;

// Main Colors
$HUSH_ORANGE: $orange-jaffa;
$HUSH_GREY: $grey-dove;
$HUSH_BLACK: $grey-mine;

// Fonts
$primary-font: 'Ubuntu', sans-serif;
$secondary-font: 'Source Code Pro', monospace;

// General 
$border-radius: 8px;
$border: solid 1px $white-alabaster;
$border-hover: solid 1px $HUSH_ORANGE;
$box-shadow: 11px 13px 8px -10px rgba(84,84,84,0.20);
$box-shadow-hover: 11px 13px 8px -13px $HUSH_ORANGE;
