/*************
  Variables
*************/

// Greyscale Variables
$black: black;
$grey-mine: #2d2d2d;
$grey-dove: #696969;

// Color Variables
$orange-jaffa: #e78b46;

// Main Colors
$HUSH_ORANGE: $orange-jaffa;
$HUSH_GREY: $grey-dove;

// Fonts
$primary-font: 'Ubuntu', sans-serif;
$secondary-font: 'Source Code Pro', monospace;
