/*************
    Modals
*************/

.modal {
    position: relative;
    background: #f9f9f9;
    width: 420px;
    border-radius: 8px;
    box-shadow: 1px 5px 7px $HUSH_GREY;
    font-family: $primary-font;

    &-backdrop {
        @include position(absolute, 0 0 0 0);
        @include flex-position();
        background: #1f1f1f66;
    }

    &-header,
    &-footer {
        width: 100%;
        height: 50px;
    }

    &-header {
        border-bottom: solid 1px #cfcfcf;
    }

    &-footer {
        border-top: solid 1px #cfcfcf;
    }

    &-button {
        cursor: pointer;
        @include position(absolute, 0 0 null null);
        height: 50px;
        width: 50px;
        color: $white;
        background: $grey-mine url('../../images/x.png') no-repeat center;
        border-radius: 0 8px 0 0;
        border:none;

        &:focus {
           outline: 0;
        }

        &:hover {
            // background: #3f3f3f url('../../images/x.png') no-repeat center;
        }
    }

    h1 {
        font-weight: 500;
        font-size: 24px;
    }
}

/* Modal Child */

.modal-child {
    padding: 10px 40px;

    form {
        margin-bottom: 30px;

        label,
        button {
            font-size: 20px;
            width: 100%;
        }

        input {
            width: 98%;
            height: 40px;
            font-size: 18px;
            border-radius: 4px;
            border: solid 1px grey;
            box-shadow: 1px 1px 1px #cfcece;
            margin: 10px 0 20px 0;
        }

        button {
            background: $white;
            background: none;
            height: 50px;
            color: $grey-mine;
            border: solid 1px grey;
            box-shadow: 1px 1px 1px #cfcece;
            border-radius: 6px;
            
            &:hover {
                background: $HUSH_BLACK;
                color: $white;
            }
        }
    }
}

