/*************
    Navbar
*************/

.Navbar {
  @include flex-position(center, left);
  @include padding(30px null null 30px);

  .logo {
    @include box(auto, 100px);
    transform: scaleX(-1);
    padding-left: 20px;
  }

  .tagline {
    @include font($secondary-font, 500, 10px);
    margin-top: 10px;
  }

  .links {
    @include flex-position(null, space-between);
    @include font($primary-font, 500, 24px);

    span {
      @include font($primary-font, 100, 14px);
      color: $HUSH-GREY;
      align-self: center;
    }

    a {
      color: $HUSH-GREY;
      text-decoration: none;

      &:hover {
        color: $HUSH_ORANGE;
      }
    }
    
    .active {
      color: $grey-mine;
    }
  }
}
